html {
  box-sizing: border-box;
  background-color: #f3e2e8;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  min-width: 1366px;
}

body {
  width:100%;
  overflow-x: hidden;
  -ms-overflow-style: hidden;
  margin: 0;
}

.screens {
  display: block;
  width:100%;
  box-sizing: border-box;
}

#banner {
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  margin: auto;
  background-image: url(Alixis-kapsalon-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  font-family:'Montserrat', sans-serif;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.72), 0 0 14px rgba(255, 255, 255, 0.45);
  box-sizing: border-box;
  border-bottom: 2px solid #f8bac5;
}

@media screen and (max-width: 600px) {
  #banner {
    height: auto;
    min-height: 400px;
  }

  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

.contact {
  display: inline-block;
  width: 20rem;
  padding-right: 2rem;
  padding-top: 1rem;
  font-size: 0.95rem;
  text-align: left;
  margin-bottom: -2rem;
}

address {
  text-decoration:none;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
}

li{
  padding: 0.5rem;
}

li:before {
  display: inline-block;
  margin-left: -1.3rem;
  width: 1.3rem;
  list-style-position: inside;
  font-family: FontAwesome;
}

li#i1:before {
  content: "\f095";
}

li#i2:before {
  content: "\f0e0";
}

li#i3:before {
  content: "\f041";
}

li#i4:before {
  content: "\f129";
}

p{
  padding-left: 1rem;
}

span{
  font-weight: bold;
}

#banner-main{
  display: block;
  position: relative;
  margin-top: -5rem;
  text-align: center;
}

#alixis{
  font-size: 9rem;
  font-family: 'Cookie', cursive;
  margin-top: 8.5rem;
  margin-bottom: -5rem;
}

#hairkapsalon{
  font-size: 2.25rem;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.banner-text{
  text-align: center;
  width: 45%;
  font-family: 'Cookie', cursive;
  font-size: 2rem;
  margin:  auto;
  padding-bottom: 1.2rem;
  padding-top: 0em;
}

.block{
  margin-bottom: 1em;
  margin-top: 0.7em;
  padding-top: 1em;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 2.3rem;
}

table {
  text-align: left;
  min-width: 400px;
}

th{
  height: 2.5em;
  font-size: 1.1rem;
  text-align: left;
  padding: 0.7em 1em 0.7em 1em;
}

td{
  padding: 0.4em;
  font-size: 1rem;
}

#price1{
  width: 80%;
  margin-left: 10%;
  display: inline-block;
  padding-bottom: 2em;
}

#price2{
  width: 80%;
  margin-left: 10%;
  display: inline-block;
}

img{
  width: 35%;
  height: auto;
  min-width: 15rem;
  border: 3px solid #f8bac5;
}

#photo-price1{
  float: right;
  margin-right: 10%;
  margin-top: 1rem;
}

#photo-price2{
  float: left;
  margin-left: 10%;
  margin-top: 0;
}

#price1 table {
  width: 40%;
  float:  left;
  margin-left: 9%;
}

#price2 table {
  padding-right: 0;
  width: 45%;
  padding-left: 7em;
}

#open-hours{
  text-align: center;
  margin-bottom: 5rem;
  font-size: 1.1rem;
}

#last{
  display: inline-block;
  width: 100%;
  padding-bottom: 0;
  padding-top: 1em;
  margin-bottom: 0;
  background-image: url(Alixis-kapsalon-banner-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 2px solid #f8bac5;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.72), 0 0 14px rgba(255, 255, 255, 0.45);
}

#last .block{
  margin-top: 0rem;
}

#overmij .block{
  width: 75%;
}

#overmij{
  display: inline-block;
  float: left;
  width: 45%;
  font-size: 1rem;
  margin-left: 15%;
  margin-right: 0;
}

#alixisPhoto{
  float: left;
  width: 35%;
  height: auto;
  margin-bottom: 3.3rem;
  min-width: 11.5rem;
}

#text-overmij{
  display:inline-block;
  width: 35%;
  text-align: left;
  padding-left: 1.5rem;
  text-indent: 1.5rem;
  padding-top: 1rem;
}

#contact-down .block{
  margin-right: 15rem;
  margin-bottom: 0;
}

#contact-down{
  display: inline-block;
  width: 35%;
  float: right;
  margin-right: 5%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color:inherit;
}
